@import '../funciones/mixins';
@import '../funciones/list';


.foto-nota {
    height: 750px;
    width: 100%;
    background-image: url('../images/pratto-portada.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.destacado-nota {
    font-size: 2rem;
    font-family: 'Raleway', sans-serif;
    margin: 50px;
    padding-left: 15%;
    padding-right: 15%;
}



.texto-color {
    color: nth($color,3);

}

.subtitulo {
    color: nth($color,3);
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
}

.parrafos-nota {
    font-size: 1.2rem;
    margin: 50px;
    padding-left: 15%;
    padding-right: 15%;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.img-nota {
    width: 100%;
}

